<nav>
    <div class="site-title">
        <a href="/">
            <h1>Library</h1>
        </a>
        <p>eBook Site</p>
    </div>

    <div style="float:right"><input type="text" placeholder="Search for ebook here..." class="bar-search"></div>
    <div style="float:right"><a href="account.jsp" class="bar-item button" style="font-size: 18px; font-style: 'bold'">ebook Cart</a></div>
    <div style="float:right"><a href="account.jsp" class="bar-item button" style="font-size: 18px; font-style: 'bold'">Account</a></div>


    <ul>
        <li><a href="/">Books</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Journal Article</a></li>
    </ul>


</nav>