<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="create-blog content">
                <form>
                    <label for="title">book title:</label>
                    <input type="text" id="title" name="title" required>
                    <label for="snippet">Book name:</label>
                    <input type="text" id="snippet" name="snippet" required>
                    <label for="body">Book ISBN:</label>
                    <textarea id="body" name="body" required></textarea>
                    <button>Submit</button>
                </form>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>