<!DOCTYPE html>
<html>
<title>eLibrary RegisterPage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        max-width: 1400px;
        margin: 15px auto;
        padding: 1 15px;
        font-family: 'Noto Serif', serif;
        max-width: 1400px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Playfair Display";
        letter-spacing: 1px;
    }
    
    .top {
        position: fixed;
        width: 100%;
        z-index: 2;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 20px 0 rgba(121, 145, 196, 0.12);
    }
    
    .bar-padding {
        padding: 20px 50px!important;
    }
    
    .bar-item {
        padding: 8px 25px;
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 1;
    }
    
    .bar {
        width: 100%;
        overflow: hidden;
    }
    
    .button {
        border: none;
        display: inline-block;
        padding: 10px 30px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap
    }
    
    .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        height: 100%;
    }
    
    .center {
        text-align: center;
    }
    
    .large {
        font-size: 18px !important
    }
    
    .input-box {
        width: 30%;
        margin-left: 30%;
    }
    
    .padding-left {
        padding-left: 30%;
    }
</style>

<body>

    <div class=" top bar bar-padding" style="letter-spacing:4px;">
        <a class="bar-item">eLibrary</a>
        <div style="float:right">
            <a href="#home" class="bar-item button">Log in</a>
        </div>
    </div>

    <form action="register.ejs" method="post">
        <div class="content" style="padding-top: 64px; max-width:1000px">
            <h1 class="center">Register Form</h1><br>
            <p class="large padding-left">School Email </p>
            <p><input class="input-box" type="email" placeholder="Enter email" name="email">
                <button type="submit" style="width: 10%"> Validate</button></p>
            <p class="large padding-left"> Name</p>
            <p><input class="input-box" type="text" placeholder="Enter name" name="name"></p>
            <p class="large padding-left"> Password</p>
            <p><input class="input-box" type="password" placeholder="Enter password" name="password"></p>
            <p class="large padding-left"> Confirm Password</p>
            <p><input class="input-box" type="password" placeholder="Confirm password"></p>
            <p><button type="submit" class="input-box">Register</button></p>
        </div>
    </form>


</body>

</html>